.video-card {

    img {
        width: 100%;
        aspect-ratio: 9 / 16;
        object-fit:fill;
        border-radius: 8px;
        transition: transform 0.5s ease-in-out;
    }

    img:hover {
        transform: scale(1.05);
    }
}